html,
body,
canvas {
  width: 100%;
  max-height: 100vh;
  max-width: 100wh;
  height: 100%;
  margin: 0;
  padding: 0;
}
*{
  overflow-x: hidden;
  overflow-y: auto;
}

body{
  background-color: #000;
}

@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
	--trsn: all 0.5s ease 0s;
	--black: #000;
  --white: #ffffff4d;
}


#root{
width: 100vw;
height: 100vh;
}

.menu{
  backdrop-filter: blur(4px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 1000;
  margin: 0 auto;
  font-family: monospace;
}

.holder{
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 10px;
  padding: 10px;
} 

.holder input{
  margin: 3.5px;
  background:  rgba(0, 0, 0, 0.575);
  border: none;
  outline: none;
  color: white;
  text-align: center;
  font-size: small;
  padding: 5px;
  margin-bottom: 5px;
}

.buttons-holder{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button{
  background-color: red;
}


.diary{
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(4px);
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  z-index: 1000;
  font-family: monospace;
} 

.page{
  background-color: transparent;
}


.vcr{
  width: 98vw;
  height: 97vh;
  background-color: transparent;
  border-radius: 10px;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  z-index: 1000;
  font-family: monospace;
  backdrop-filter:sepia(0.15);
  box-shadow: 0 0 0 10px #000; 
  border: solid 1px white;
  margin:10px;
}



.credits-section{
animation: enter 1s ease-in;
overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4.5px; /* Adjust the width to make the scrollbar thinner */
}

::-webkit-scrollbar-track {
  background-color: #3b3737; /* Set the background color of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* Set the color of the scrollbar thumb */
  border-radius: 10px;
}

.start-button{
  background-color: transparent;
  border-radius: 10px;
  padding: 0 50px;
  color: darkslategrey;
  font-family: monospace;
  transition: ease-in-out;
  border: 1px solid black;
  border-bottom-color: black;
  border-right-color: black;
  border-top-color: rgb(87, 84, 84);
  border-left-color: grey;
}

.start-button:hover{
  cursor: pointer;
  transform: translateX(3.5px);
  transition: 0.5s;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: rgb(87, 84, 84);
  border-right-color: grey;
}
