html,
body,
canvas {
  width: 100%;
  max-height: 100vh;
  max-width: 100wh;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
	--trsn: all 0.5s ease 0s;
	--black: #000;
  --white: #ffffff;
}


@keyframes grain {
	0%, 100% { transform: translate(0, 0); }
	10% { transform: translate(-1%, -1%); }
	20% { transform: translate(1%, 1%); }
	30% { transform: translate(-2%, -2%); }
	40% { transform: translate(3%, 3%); }
	50% { transform: translate(-3%, -3%); }
	60% { transform: translate(4%, 4%); }
	70% { transform: translate(-4%, -4%); }
	80% { transform: translate(2%, 2%); }
	90% { transform: translate(-3%, -3%); }
}

@keyframes film-scratch {
	0%, 100% { transform: translateX(0); opacity: 0.5; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); opacity: 0.75; }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(-2%); }
}

@keyframes effect-scratch {
	0% { transform: translateX(0); opacity: 0.75; }
	10% { transform: translateX(-1%); }
	20% { transform: translateX(1%); }
	30% { transform: translateX(-2%); }
	40% { transform: translateX(3%); }
	50% { transform: translateX(-3%); opacity: 0.5; }
	60% { transform: translateX(8%); }
	70% { transform: translateX(-3%); }
	80% { transform: translateX(10%); opacity: 0.25; }
	90% { transform: translateX(20%); }
	100% { transform: translateX(30%); }
}


#root{
width: 100vw;
height: 100vh;
}

.menu{
  backdrop-filter: blur(4px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 1000;
  margin: 0 auto;
  font-family: monospace;
}

.holder{
  background-color: rgba(0, 0, 0, 0.575);
  border-radius: 10px;
  padding: 10px;
} 

.holder input{
  margin: 3.5px;
  background:  rgba(0, 0, 0, 0.575);
  border: none;
  outline: none;
  color: white;
  text-align: center;
  font-size: small;
  padding: 5px;
  margin-bottom: 5px;
}

.buttons-holder{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button{
  background-color: red;
}


.diary{
  background-color: rgba(0, 0, 0, 0.774);
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(4px);
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  z-index: 1000;
  font-family: monospace;
} 

.page{
  background-color: transparent;
}


.vcr{
  background-color: transparent;
  border-radius: 10px;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  z-index: 1000;
  font-family: monospace;
  overflow: hidden;
  transition : all 0.5s ease 0s;
}

.film, .effect {
  top: 0;
	left: 0;
	padding-left: 100px;
	opacity: 0.5;
	animation: film-scratch 0.75s steps(1) infinite;
	background: repeating-linear-gradient(90deg, rgba(131, 131, 131, 0.133) 0 2px, transparent 4px 37vmin);
  z-index: 1100;
	width: 100vh;
	height: 100vh;
	filter: blur(0.45px) drop-shadow(0px 0px 0px #fff1);
  z-index: 1100;
}

.grain {
  width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	opacity: .25;
	background-image: 
		repeating-conic-gradient(var(--white) 0%, transparent .00003%, transparent .0005%, transparent .00095%),
		repeating-conic-gradient(var(--white) 0%, transparent .00005%, transparent 0.00015%, transparent 0.0009%);
	animation: grain 2s steps(1) infinite;
	filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
}
